@using TestGenerator.Core.Models.Test
@using TestGenerator.Core.ViewModels
@model TestGenerator.Core.ViewModels.Test.TestFormViewModel
@{
    ViewBag.Title = @Model.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "Tests"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control wide" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div id="phoneList">
        @for (int i = 0; i < @Model.Questions.Count; i++)
        {
            <div class="phoneRow">
                @Html.TextBoxFor(model => Model.Questions[i].Text, new { @class = "wide" })
                @Html.DropDownListFor(m => Model.Questions[i].QuestionTypeId, new SelectList(Model.TypeQuestions, "Id", "Name"))
                <span class="btn btn-success fileinput-button">
                    <span>Image</span>
                    <input type="file" name="file" onchange="readURL(this);">
                </span>
                <div id="image" style="display: none;" >
                    <img id="blah" src="#" />
                    <a href="javascript:void(deleteImage(this));" class="remRow">Удалить изображение</a>
                </div>



                <div id="@i" class="answers">
                    @for (int j = 0; j < @Model.Questions[i].Answers.Count; j++)
                    {
                        string sd = i.ToString() + j.ToString();
                        <div class="@sd">
                            <label>
                                @Html.CheckBoxFor(m => @Model.Questions[i].Answers[j].Value)
                                @Html.TextBoxFor(model => Model.Questions[i].Answers[j].Caption, new { @class = "wide" })
                             
                            </label>
                            @if (j == 0)
                            {
                                <a href="javascript:void(0);" class="addAnswer">Добавить ответ</a>
                            }

                        </div>
                    }
                </div>

            </div>

        }
    </div>
    <p>
        <a href="javascript:void(0);" class="addRow">Добавить вопрос</a>
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.TestStatusId)
        @Html.DropDownListFor(m => m.TestStatusId, new SelectList(Model.TestStatuses, "Id", "Name"))
        @Html.ValidationMessageFor(m => m.TestStatusId)
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
}

@section scripts
{
    <script type="text/javascript">

        //show image
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image')
                    .css({ display: "block" });

                    $('#blah')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function deleteImage(input) {

            $('#image')
            .css({ display: "none" });
        }

        $(document).ready(function () {


            //add question
            $(".addRow").click(function () {
                var rowCount = $('.phoneRow').length;
                $("#phoneList").append('<div class="phoneRow"><input class="wide" type="text" name="Questions[' + rowCount + '].Text" />' +
                    '<select id="Questions_' + rowCount + '__QuestionTypeId" name="Questions[' + rowCount + '].QuestionTypeId" class="phoneType">'
                   + '<option value="1">Выбрать ответ</option>'
                   + '<option value="2">Написать ответ</option>'
                    + '</select>'
                    + '' +
                    '<div id="' + rowCount + '" class="answers">' +
                   ' <div class="0"><a href="javascript:void(0);" class="addAnswer">Добавить ответ</a></div>' +
                   ' </div>'
                    );


            });

            //add answer
            $(document.body).on('click', '.addAnswer', function () {
                var parentss = $(this).parent().parent().attr('id');
                var pad = $(this).parent().attr('class');
                var padClass = "." + pad;
                var namecl = "." + parentss + pad;
                var rowCount = $(padClass).length;
                rowCount = $(this).parent().parent().children().length;


                var ids = "#" + parentss;

                if (parentss !== '0')
                    rowCount--;

                $(ids).append('<div class="' + pad + '"><label>' +
                    '<input data-val="true" data-val-required="The Правильный: field is required." ' +
                    'id="Questions_' + parentss + '__Answers_' + rowCount + '__Value" name="Questions[' + parentss + '].Answers[' + rowCount + '].Value"' +
                    ' type="checkbox" value="true">' +
                    '<input class="wide" data-val="true" data-val-length="The field Текст: must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="The Текст: field is required." ' +
                    'id="Questions_' + parentss + '__Answers_' + rowCount + '__Caption" name="Questions[' + parentss + '].Answers[' + rowCount + '].Caption" ' +
                    'type="text" value=""></label>'
                   + '</div>');
            });


            //remove answer
            $(document.body).on('click', '.removeAnswer', function () {
               
            });

            //chage type answer
            $(document).on('change', 'select', function () {

                var pad = 0;
                $(this).parent().children("div").empty();
                var rowCount = 0;
                var parentss = $(this).parent().children("div").attr("id");
                var pad = parentss + "0";
                var rowCount = $(this).parent().children("div").length - 1;


                if (this.value === "2") {

                    //написать ответ
                    $(this).parent().children("div").append('<div class="' + pad + '"><label>' +
                  '<input data-val="true" data-val-required="The Правильный: field is required." ' +
                  'id="Questions_' + parentss + '__Answers_' + rowCount + '__Value" name="Questions[' + parentss + '].Answers[' + rowCount + '].Value"' +
                  ' type="checkbox" value="true">' +
                  '<input class="wide" data-val="true" data-val-length="The field Текст: must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="The Текст: field is required." ' +
                  'id="Questions_' + parentss + '__Answers_' + rowCount + '__Caption" name="Questions[' + parentss + '].Answers[' + rowCount + '].Caption" ' +
                  'type="text" value=""></label>'
                 + '</div>');

                } else if (this.value === '1') {
                    //выбрать ответ
                    $(this).parent().children("div").append('<div class="0"><a href="javascript:void(0);" class="addAnswer">Добавить ответ</a></div><div class="' + pad + '"><label>' +
                  '<input data-val="true" data-val-required="The Правильный: field is required." ' +
                  'id="Questions_' + parentss + '__Answers_' + rowCount + '__Value" name="Questions[' + parentss + '].Answers[' + rowCount + '].Value"' +
                  ' type="checkbox" value="true">' +
                  '<input class="wide" data-val="true" data-val-length="The field Текст: must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="The Текст: field is required." ' +
                  'id="Questions_' + parentss + '__Answers_' + rowCount + '__Caption" name="Questions[' + parentss + '].Answers[' + rowCount + '].Caption" ' +
                  'type="text" value=""></label>'
                 + '</div>');
                }

            });

        });

    </script>
}