@using TestGenerator.Core.Models.Test
@model TestGenerator.Core.ViewModels.Test.TestsForUserViewModel
@{
    ViewBag.Title = "Solicite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-striped table-condensed table-hover">
   <tbody>
        <tr>
            <td style="width: 180px">
                @Html.ActionLink("Доступные тесты", "Solicite", "Tests")
            </td>
            <td>
                @Html.ActionLink("Ожидающие рассмотрения тесты", "Waiting", "Tests")
            </td>
        </tr>
    </tbody>
</table>

<h3>Каталог тестов</h3>
<div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
        <tr>
            <th style="width: 430px;">
                Название теста
            </th>
            <th style="width: 470px;">
                Автор
            </th>
            <th>
                Получить доступ к тесту
            </th>
        </tr>
        <tbody>
            @foreach (var test in Model.Tests)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => test.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => test.Operator.NickName)
                    </td>
                    <td>
                        <div class="actions">
                            <a href="#" class="js-get-allowee" data-test-id="@test.Id">
                                Оставить заявку
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-get-allowee").click(function(e) {
                var link = $(e.target);
                var testId = link.attr("data-test-id");

                bootbox.dialog({
                    message: "Запросить доступ к тесту?",
                    title: "Запрос доступа к тесту",
                    buttons: {
                        no: {
                            label: "Отмена",
                            className: "btn-default",
                            callback: function() {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Добавить",
                            className: "btn-info",
                            callback: function() {
                                $.ajax({
                                    url: "/api/permissions/",
                                    method: "POST",
                                    data: { testId: testId }
                                    })
                                    .done(function() {
                                        link.parents("tr").fadeOut(function() {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function() {
                                        alert("Somethings failed!");
                                    });
                            }
                        }
                    }
                });
            });
        });
    </script>
}